<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav" style="display: contents;">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <span class="nombre-app"> SISTEMA DE MARCACIONES WEB</span>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
       <li class="nav-item"><a class="nav-link" style="cursor: pointer" (click)="logout()"><i class="fas fa-door-open"></i></a></li>
  </ul>
</nav>
<!-- /.navbar -->
