
<div class="container "  style="margin-top: 1.5em;">
    <div class="card border border-primary ">
    <form [formGroup]="reporteForm" (ngSubmit)="generarReporte()">
        <div class=" card-body row ">
            <div class="col-md-3">
                <label class="text-primary">Tipo Reporte.</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="tipo" [(ngModel)]="opcionSeleccionada" name="tipo" id="tipo" value="usuario"  checked>
                    <label>
                      Usuario
                    </label>
                </div>
                <div class="form-check" *ngIf="listaUsuarios.length>1">
                    <input class="form-check-input" type="radio" formControlName="tipo" [(ngModel)]="opcionSeleccionada" name="tipo" id="tipo" value="plataforma"  >
                    <label>
                      Plataforma / Área
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                    <div class="form-row">
                        <div class="form-group col-md-12 " *ngIf="opcionSeleccionada === 'usuario'">
                            <label>Seleccionar Usuario</label>
                            <select class="form-control form-control-sm lista" id="usuario" name="usuario" formControlName="usuario">
                                <option *ngFor="let usuarios of listaUsuarios" [value]="usuarios.USER_ID">{{ usuarios.DESCRIPTION}} </option>
                            </select>


                        </div>
                        <div class="form-group col-md-12" *ngIf="opcionSeleccionada === 'plataforma'">
                            <label>Seleccionar Plataforma / Área</label>
                            <select class="form-control form-control-sm lista" id="usuario" name="usuario" formControlName="usuario">
                                <option *ngFor="let plataformas of listaPlataformas" [value]="plataformas.L6_PLATAFORMA">{{ plataformas.PLATAFORMA}}</option>
                              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fecha Inicio</label>
                            <input type="date" class="form-control form-control-sm" id="fecha_inicio" name="fecha_inicio" formControlName="fecha_inicio" [(ngModel)]="defaultDateini">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fecha Fin</label>
                            <input type="date" class="form-control form-control-sm" id="fecha_fin" name="fecha_fin" formControlName="fecha_fin" [(ngModel)]="defaultDatefin">
                        </div>
                        <div class="col align-self-center">
                            <button type="submit" class="btn btn-primary btn-sm" [disabled]="reporteForm.invalid">Generar Reporte</button>
                        </div>
                    </div>
            </div>
        </div>
    </form>
    </div>
  </div>

<div class="container col-md-7">

  <div *ngIf="isLoading">
    <img src="./assets/dist/img/loading4.gif" width="100%" height="20px">
  </div>

    <div class="card border border-primary ">

      <div style="display: flex; justify-content: center; align-items: center;">
        {{this.plat}}
        <p></p>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <ngx-datatable class="bootstrap"
        [rows]="datosReporte"
        [headerHeight]="30"
        [footerHeight]="45"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="isLoading"
        (sort)="onSort($event)"
        >

        <ngx-datatable-column prop="nombre_usuario" name="Usuario" [width]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <small><b>{{ row.nombre_usuario }}</b></small>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="fecha_ingreso" name="Entrada" [width]="110">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="custom-header" style="text-align: center;">{{ column.name }} <img src="./assets/dist/img/marker-icon.png" width="10" height="16"></div>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div  *ngIf="row.fecha_ingreso" (click)="mostrarImg(row.foto_ingreso, row.loc_ingreso, row.id_marcacion, row.ip_on, row.so_on, 'ENTRADA', row.nombre_usuario, row.fecha_ingreso.split('T')[0]+' '+row.hora_ingreso )">{{ row.fecha_ingreso.split('T')[0] }} {{ row.hora_ingreso }}</div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="fecha_salida" name="Salida" [width]="110">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="custom-header" style="text-align: center;">{{ column.name }} <img src="./assets/dist/img/marker-icon-red.png" width="10" height="16"></div>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.fecha_salida.split('T')[0] !== '2000-01-01'" (click)="mostrarImg(row.foto_salida, row.loc_salida, row.id_marcacion, row.ip_off, row.so_off, 'SALIDA', row.nombre_usuario, row.fecha_salida.split('T')[0]+' '+row.hora_salida )">{{ row.fecha_salida.split('T')[0] }} {{ row.hora_salida }}</div>
            <div *ngIf="row.fecha_salida.split('T')[0] === '2000-01-01'" ><b style="color: red; font-size: 10px;"></b></div>
          </ng-template>
        </ngx-datatable-column>



        </ngx-datatable>
      </div>
  </div>

    <div class="card border border-primary" id="map" style="width: 100%;height: 500px;"></div>

</div>



